@if(clusterConfig()){
  <!-- [tooltipText]="clusterConfig().name +' - '+clusterConfig().externalID" [tooltipShow]="true"  -->
  <div tooltip class="cluster d-flex justify-content-center align-items-center cursor-pointer {{clusterConfig().active ? 'active': ''}}"
    [ngStyle]="{
      'width.rem': (clusterConfig().active ? clusterConfig().size + 1 : clusterConfig().size),
      'height.rem': (clusterConfig().active ? clusterConfig().size + 1 : clusterConfig().size)
    }"
    (click)="clusterConfig().select(clusterConfig())">
    <span class="caption text-center p-1">
      {{clusterConfig().name}}
      {{clusterConfig().active}}
    </span>
  </div>
}
