

<main class="hub container-fluid p-3">

  <h1> HUB PAGE</h1>

  <!-- <div class="testing" style="width: 150px;">
    <app-card [cardConfig]="cardConfig"/>

  </div> -->

  <app-mitre-attack/>



  <section class="hub__components">

    <button class="" (click)="onLogout()">
      Log out
    </button>
  </section>

  <div class="col-6 background-primary p-4 border-radius">


    @if(mitreDataInfo$ | async; as MitreData){
      @if(clusters.length){
        @if(clusters.length){
          <div class="cluster-container border">
            @for( cluster of clusters; track cluster){
              <app-cluster [clusterConfig]="cluster"/>
            }
          </div>
        }
      }
    }@else {
      <div class="flex-all-center  w-100 h-100vh">
        <app-loader/>
      </div>
    }
  </div>


  <!-- @if(mitreDataInfo$ | async; as MitreData){
    <section class="hub__card-grid d-grid columns">

      @if(mitreHerarchyData.length){

        @for( tactic of mitreHerarchyData; track tactic){
          <div class="card p-3">
            <h4>
              {{ tactic.name }}
            </h4>
            <small class="fw-bold pb-2" > {{ tactic.id }}</small>

            <div class="card__list">
              <p> {{'Techniques:'}}</p>
              <ul>
                @for( technique of tactic.techniques; track technique){
                  <li [tooltipShow]="true" tooltip [tooltipText]="technique.name + '-' + technique.external_references[0].external_id">
                    <span>{{ technique.name }}</span>
                  </li>
                    @if(technique.subtechniques?.length){
                      <p> {{'Subtechniques:'  }} </p>
                      <ul>
                        @for( subtechnique of technique.subtechniques; track subtechnique){
                          <li>
                            <span [tooltipShow]="true" tooltip [tooltipText]="subtechnique.name + '-' + subtechnique.external_references[0].external_id">{{ subtechnique.name }}</span>
                          </li>
                        }
                      </ul>
                    }
                  }
              </ul>
            </div>

          </div>
        }
      }

    </section>
  }@else {
    <div class="flex-all-center  w-100 h-100vh">
      <app-loader/>
    </div>
  } -->


</main>






