/* You can add global styles to this file, and also import other style files */

// <!-- FIXME: ADD COLOR SETS -->
// <!-- #6574b1 -->
// <!-- #424248 -->
// <!-- #cdcdcf -->
// <!-- #252528 -->


// TODO: MOVE
.custom-tooltip {
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 99999;
  background-color: #6574b1 !important;
  max-width: 17rem;
  color:  #FFFFFF;
  font-size: 12px;
  word-wrap: break-word;
}
